![Data Preprocessing in Python and R](https://pbs.twimg.com/media/FKwLwsFX0AYyb0I?format=jpg&name=medium)

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### <font color = blue>Required  Libraries</font>
First, we import libraries that we required in our project. And we are using libraries like `numpy`, `pandas`,`sqlite3`.

In [84]:
# import Libraries
import sqlite3
import tempfile
import os, os.path
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET
from IPython.display import display

### <font color = blue>Given Dataset</font>
We are working on following dataset taken from https://travel.stackexchange.com/ which consists of the
following data frames:
* Badges.csv.gz
* Comments.csv.gz
* PostLinks.csv.gz
* Posts.csv.gz
* Tags.csv.gz
* Users.csv.gz
* Votes.csv.gz

First we Reading csv files from gzip and converting to those in dataframes and each dataframe is stored in dictionary with respective key names.

In [85]:
def getdataframes():
    df_dic = {}
    df_dic['Badges'] = pd.read_csv("Badges.csv.gz", compression="gzip")
    df_dic['Comments'] = pd.read_csv("Comments.csv.gz", compression="gzip")
    df_dic['PostLinks'] = pd.read_csv("PostLinks.csv.gz", compression="gzip")
    df_dic['Posts'] = pd.read_csv("Posts.csv.gz", compression="gzip")
    df_dic['Tags'] = pd.read_csv("Tags.csv.gz", compression="gzip")
    df_dic['Users'] = pd.read_csv("Users.csv.gz", compression="gzip")
    df_dic['Votes'] = pd.read_csv("Votes.csv.gz", compression="gzip")
    return df_dic

Now we will make sql connection with sql lite database.

In [86]:
def getsqlconnection():
    baza = os.path.join(tempfile.mkdtemp(), 'example.db')
    if os.path.isfile(baza):  
        os.remove(baza)  
    conn = sqlite3.connect(baza)  
    df_dic['Badges'].to_sql("Badges", conn)  
    df_dic['Comments'].to_sql("Comments", conn)
    df_dic['PostLinks'].to_sql("PostLinks", conn)
    df_dic['Posts'].to_sql("Posts", conn)
    df_dic['Tags'].to_sql("Tags", conn)
    df_dic['Users'].to_sql("Users", conn)
    df_dic['Votes'].to_sql("Votes", conn)
    return conn

###  <font color = blue>Given Tasks</font>
* <b>SQL Queries Implementations:</b>
   1. Pandas.read_sql_query 
   2. Calling methods and functions from pandas package

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

>> # <font color=red>Task 1</font>

![Task 1](https://pbs.twimg.com/media/FF1sGL3WUAE9xxg?format=png&name=small)

### <font color=blue>1.1 pandas.read_sql_query</font>

In [87]:
def Task1_sql(conn):
    sql_sol1 = pd.read_sql_query("""SELECT 
                                        Name, 
                                        COUNT(*) AS Number, 
                                        MIN(Class) AS BestClass 
                                    FROM Badges 
                                    GROUP BY Name 
                                    ORDER BY Number DESC 
                                    LIMIT 10 """, conn)
    return sql_sol1

### <font color=blue>1.2 pandas functions</font>

In [88]:
df_dic = getdataframes()
Badges = df_dic['Badges']

In [89]:
def Task1_pandas():
    
    badges_df = Badges.groupby("Name")['Class'].agg([('Number', 'count'), ('BestClass', 'last')])
    
    badges_df = badges_df.sort_values(by="Number", ascending=False)
    
    pandas_sol1 = badges_df.head(10).reset_index()
    
    return pandas_sol1

pandas_sol1 = Task1_pandas()

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

>### <font color=green>Requirements For Task 1</font>

### <font color=blue>a) Sample Data</font>
Sample Data from Task 1

In [90]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol1 = Task1_sql(conn)
    display(sql_sol1.head())
    conn.close()

               Name  Number  BestClass
0    Autobiographer   24564          3
1           Student   23930          3
2         Supporter   17826          3
3  Popular Question   14840          3
4       Nice Answer   12406          3

### <font color=blue>b) Summary</font>
Summary of Task 1 Data

In [91]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol1 = Task1_sql(conn)
    display(sql_sol1.info())
    conn.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       10 non-null     object
 1   Number     10 non-null     int64
 2   BestClass  10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

None

### <font color=blue>c) Comparison </font>
Comparing pandas.read_sql_query solution with pandas function solution

In [92]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol1 = Task1_sql(conn)
    display(pandas_sol1.equals(sql_sol1))
    conn.close()

True

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

>> # <font color=red>Task 2 </font>

![Task 2](https://pbs.twimg.com/media/FF1sGL3XsAIUmJD?format=png&name=900x900)

### <font color=blue>2.1 <font color=blue>pandas.read_sql_query</font></font>

In [93]:
def Task2_sql(conn):
    sql_sol2 = pd.read_sql_query("""SELECT Location, COUNT(*) AS Count
                                    FROM (
                                        SELECT Posts.OwnerUserId, Users.Id, Users.Location
                                        FROM Users
                                        JOIN Posts ON Users.Id = Posts.OwnerUserId
                                    )
                                    WHERE Location NOT IN ('')
                                    GROUP BY Location
                                    ORDER BY Count DESC
                                    LIMIT 10""", conn)
    return sql_sol2

### <font color=blue>2.2 <font color=blue>pandas functions</font></font>

In [94]:
Posts = df_dic['Posts']
Users = df_dic['Users']

In [95]:
def Task2_pandas():
    
    Posts_df = Posts.merge(Users, right_on="Id", left_on="OwnerUserId")
    
    Posts_df = Posts_df.groupby("Location")["Id_x"].agg([("Count", 'count')]).reset_index()
    
    Posts_df = Posts_df.sort_values(by='Count', ascending=False)
    
    pandas_sol2 = Posts_df.head(10).reset_index(drop=True)
    
    return pandas_sol2

pandas_sol2 = Task2_pandas()

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

>### <font color=green>Requirements For Task 2</font>

### <font color=blue>a) Sample Data</font>
Sample Data from Task 2

In [96]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol2 = Task2_sql(conn)
    display(sql_sol2.head())
    conn.close()

                        Location  Count
0      Christchurch, New Zealand   2765
1                   New York, NY   1788
2         London, United Kingdom   1708
3                             UK   1590
4  Sunshine Coast QLD, Australia   1550

### <font color=blue>b) Summary</font>
Summary of Task 2 Data

In [97]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol2 = Task2_sql(conn)
    display(sql_sol2.info())
    conn.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  10 non-null     object
 1   Count     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

None

### <font color=blue>c) Comparison </font>
Comparing pandas.read_sql_query solution with pandas function solution

In [98]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol2 = Task2_sql(conn)
    display(pandas_sol2.equals(sql_sol2))
    conn.close()

True

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

>> # <font color=red>Task 3 </font>

![Task 3](https://pbs.twimg.com/media/FF1sGNkXIAQfgPq?format=jpg&name=medium)

### <font color=blue>3.1 <font color=blue>pandas.read_sql_query</font></font>

In [99]:
def Task3_sql(conn):
    sql_sol3 = pd.read_sql_query("""SELECT
                                        Users.AccountId,
                                        Users.DisplayName,
                                        Users.Location,
                                        AVG(PostAuth.AnswersCount) as AverageAnswersCount
                                FROM
                                    (
                                        SELECT
                                            AnsCount.AnswersCount,
                                            Posts.Id,
                                            Posts.OwnerUserId
                                        FROM (
                                                SELECT Posts.ParentId, COUNT(*) AS AnswersCount
                                                FROM Posts
                                                WHERE Posts.PostTypeId = 2
                                                GROUP BY Posts.ParentId
                                                ) AS AnsCount
                                        JOIN Posts ON Posts.Id = AnsCount.ParentId
                                ) AS PostAuth
                                JOIN Users ON Users.AccountId=PostAuth.OwnerUserId
                                GROUP BY OwnerUserId
                                ORDER BY AverageAnswersCount DESC
                                LIMIT 10""", conn)
    return sql_sol3

### <font color=blue>3.2 <font color=blue>pandas functions</font></font>

In [100]:
def Task3_pandas():

    AnsCount = Posts[Posts.PostTypeId == 2].groupby("ParentId")["Id"].agg([("AnswearsCount", 'count')]).reset_index()
    
    PostAuth = AnsCount.merge(Posts, left_on="ParentId", right_on="Id")
   
    PostAuth = PostAuth.merge(Users, left_on="OwnerUserId", right_on="AccountId")
  
    PostAuth = PostAuth[["AccountId", "DisplayName", "Location", "AnswearsCount", 
                        'OwnerUserId']].groupby("OwnerUserId").agg({"DisplayName": "first", "Location": "first", 
                                                    "AnswearsCount": "mean", "AccountId": "first"}).reset_index()
    
    pandas_sol3 = PostAuth.rename(columns={"AnswearsCount": "AverageAnswersCount"}).sort_values(by=["AverageAnswersCount", 
                                 'AccountId'], ascending=False).head(10).drop("OwnerUserId", axis=1).reset_index(drop=True)
    
    pandas_sol3 = pandas_sol3.loc[:, ["AccountId","DisplayName","Location","AverageAnswersCount"]]
    
    return pandas_sol3

pandas_sol3 = Task3_pandas()

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

>### <font color=green>Requirements For Task 3</font>

### <font color=blue>a) Sample Data</font>
Sample Data from Task 3

In [101]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol3 = Task3_sql(conn)
    display(sql_sol3.head())
    conn.close()

   AccountId    DisplayName           Location  AverageAnswersCount
0    40811.0         vocaro       San Jose, CA                 11.0
1      280.0          csmba  San Francisco, CA                 11.0
2    44093.0  Emma Arbogast          Salem, OR                 10.0
3      204.0           Josh          Australia                 10.0
4    11758.0       rvarcher  Oklahoma City, OK                  9.0

### <font color=blue>b) Summary</font>
Summary of Task 3 Data

In [102]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol3 = Task3_sql(conn)
    display(sql_sol3.info())
    conn.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AccountId            10 non-null     float64
 1   DisplayName          10 non-null     object
 2   Location             8 non-null      object
 3   AverageAnswersCount  10 non-null     float64
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

None

### <font color=blue>c) Comparison </font>
Comparing pandas.read_sql_query solution with pandas function solution

In [103]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol3 = Task3_sql(conn)
    display(pandas_sol3.equals(sql_sol3))
    conn.close()

True

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

>> # <font color=red>Task 4 </font>

![Task 4](https://pbs.twimg.com/media/FF1sGOdXwAA0t8y?format=jpg&name=medium)

### <font color=blue>4.1 <font color=blue>pandas.read_sql_query</font></font>

In [104]:
def Task4_sql(conn):
    sql_sol4 = pd.read_sql_query("""SELECT
                                        Posts.Title,
                                        UpVotesPerYear.Year,
                                        MAX(UpVotesPerYear.Count) AS Count
                                    FROM (
                                         SELECT
                                           PostId,
                                           COUNT(*) AS Count,
                                           STRFTIME('%Y', Votes.CreationDate) AS Year
                                         FROM Votes
                                         WHERE VoteTypeId=2
                                        GROUP BY PostId, Year
                                     ) AS UpVotesPerYear
                                   JOIN Posts ON Posts.Id=UpVotesPerYear.PostId
                                   WHERE Posts.PostTypeId=1
                                   GROUP BY Year
                                   ORDER BY Year ASC""", conn)
    return sql_sol4

### <font color=blue>4.2 <font color=blue>pandas functions</font></font>

In [105]:
Votes = df_dic['Votes']

In [106]:
def Task4_pandas():
    pandas_sol4 = Votes[['PostId', 'Id', 'CreationDate', 'VoteTypeId']]\
                                       .query('VoteTypeId == 2').assign(Year = lambda x:x['CreationDate']\
                                       .apply(lambda x:x[:4])).groupby(['PostId', 'Year'], as_index=False)\
                                       .agg({'Id' : 'count'}).rename(columns={'Id' : 'Count'})\
                                       .merge(Posts.query('PostTypeId == 1')[['Id', 'Title']], left_on= 'PostId', right_on='Id')
    
    ext = pandas_sol4.groupby('Year', as_index=False).agg({'Count' : 'max'})

    pandas_sol4 = pandas_sol4.merge(ext, left_on =['Year', 'Count'], right_on=['Year', 'Count'])[['Title', 
                                         'Year', 'Count']].sort_values(by='Year').reset_index(drop=True)
    
    return pandas_sol4

pandas_sol4 = Task4_pandas()

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

>### <font color=green>Requirements For Task 4</font>

### <font color=blue>a) Sample Data</font>
Sample Data from Task 3

In [107]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol4 = Task4_sql(conn)
    display(sql_sol4.head())
    conn.close()

                                               Title  Year  Count
0  OK we're all adults here, so really, how on ea...  2011     70
1    How to successfully haggle / bargain in markets  2012     37
2  Why are airline passengers asked to lift up wi...  2013    103
3  How do you know if Americans genuinely/literal...  2014    179
4  Immigration officer that stopped me at the air...  2015    117

### <font color=blue>b) Summary</font>
Summary of Task 3 Data

In [108]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol4 = Task4_sql(conn)
    display(sql_sol4.info())
    conn.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   11 non-null     object
 1   Year    11 non-null     object
 2   Count   11 non-null     int64
dtypes: int64(1), object(2)
memory usage: 392.0+ bytes

None

### <font color=blue>c) Comparison </font>
Comparing pandas.read_sql_query solution with pandas function solution

In [109]:
if __name__ == "__main__":
    df_dic = getdataframes()
    conn = getsqlconnection()
    sql_sol4 = Task4_sql(conn)
    display(pandas_sol4.equals(sql_sol4))
    conn.close()

True

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

##  <font color=#08B7F8>Conclusion  </font>

We discovered two alternative ways of data manipulation while working on this project, two of them are very different from one another. And in my opinion, both are very good methods for data manipulation but SQL is easier to implement and understand.

![Machine Learning Project](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)